.speech{
    font-family: 'Times New Roman';
    font-size: 18px;
    color: black;
}

.stage-direction{
    font-family: Georgia;
    font-size: 18px;
    color: black;
    background-color:cyan ;
}
.name{
    font-family: Verdana;
    font-size: 18px;
    color: black;
}
.stage-direction:hover
{
    color:red;
    background-color: green;
}
.MARCHMONT{
 color: darkgreen;
}
.BASILDON{
 color: darkred;
}
table{
    border: 1px solid black;
    padding: 45px 30px 50px;
    margin: 25px 50px 75px 120px;
    width: 50%; 
}
th{
    color:black;
    border: 1px solid black;
    text-align: center;
    background-color: orange;

}
td{
    color: lightslategrey;
    border: 1px solid black;
    text-align: left;

}
tr:nth-child(even){
    background-color: #006A4E;
}
.MASON{
color: blue;
}
.LORD_CAVERSHAM{
color: blueviolet;
}
.LADY_CHILTERN{
color: pink;
}
.MABEL_CHILTERN{
color: purple;
}
.name:hover{
    text-shadow: 2px 4px 3px red;
    color: #006A4E;
    filter: blur();
    border: solid 2px rgb(158, 126,143);
}
a:hover {
    background-color: green;
    color:black;
    width: 10%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul.navbar-horizontal li {
    float: left;
    color: #000;
    background-color: red;
    border: 2px solid black;
  }
  ul.navbar-horizontal a {
    display: block;
    padding: 8px;
  }
  ul.navbar-horizontal a:hover {
    background-color: rgb(115, 204, 43);
    color: white;
    width: auto;
  }